<% if @profile %>
  <div id='profile-title'>
    <%# add link to the picture!!!%>
    <img class='profile-picture' src='/images/jongmin.jpg' atl="Jongmin's profile picture">
    <h3><pre> <%= @profile["first_name"] %>'s Amazing Profile</h3>
  </div>
  <br />
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <% @profile.each do |field, value| %>
    <ul>
      <li>
        <div class="profile-section box <%= field %>">
          <h4><%= field.capitalize %></h4>
          <p class="profile-value <%= field %>-value"><%= value %></p>
        </div>
      </li>
    </ul>
  <% end %>
  

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found (in the About, Ambtion, Learning_Experience, Projects &amp; Rationail fields).
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>
  <div>
    <a href='http://localhost:4567/update'>Edit Profile</a>
  </div>
  
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script language="javascript">
  $('.first_name').insertBefore('.about');
  $('.last_name').insertAfter('.first_name');
  $('.gender').insertAfter('.last_name');
  $('.dob').insertAfter('.gender');
  $('.ambition').insertAfter('.about');
  $('.learning_experience').insertAfter('.ambition');
  $('.projects').insertAfter('.learning_experience');
  $('.rationale').insertAfter('.projects');
  $('.employment_status').insertAfter('.rationale');
  $('.phone_number').insertAfter('.employment_status');
  $('.github').insertAfter('.phone_number');
  $('.homepage').insertAfter('.github');
  $('.twitter').insertAfter('.homepage');
  $('.codecademy').insertAfter('.twitter');
  $('.js_track_completedness').insertAfter('.codecademy');
  $('.ruby_track_completedness').insertAfter('.js_track_completedness');
  $('.web_track_completedness').insertAfter('.ruby_track_completedness');
 
  
  console.log("I am Javascript!");
  //add content to codeacademy, ~completedness fields
  $('.codecademy-value').html('<a href="http://www.codecademy.com/kjm141215"> kjm141215</a>');  
  $('.js_track_completedness-value').text('Completed');
  $('.ruby_track_completedness-value').text('Completed')
  $('.web_track_completedness-value').text('Completed')
  $('.homepage-value').text('N/A')
  $('.primes_sum-value').text('Something')
  $('.twitter-value').text('Something')
  $('.employment_status-value').text('Unemployed')
  $('.primes_sum-value').text('142913828922')

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  var about_word_count = (($('.about-value').text()).split(' ')).length;
  var ambition_word_count = (($('.ambition-value').text()).split(' ')).length;
  var learning_experience_word_count = (($('.learning_experience-value').text()).split(' ')).length;
  var projects_word_count = (($('.projects-value').text()).split(' ')).length;
  var rationale_word_count = (($('.rationale-value').text()).split(' ')).length;

  $('.about').append('<p>word count: [' + about_word_count + ']</p>');
  $('.ambition').append('<p>word count: [' + ambition_word_count + ']</p>');
  $('.learning_experience').append('<p>word count: [' + learning_experience_word_count + ']</p>');
  $('.projects').append('<p>word count: [' + projects_word_count + ']</p>');
  $('.rationale').append('<p>word count: [' + rationale_word_count + ']</p>');
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  total_words = about_word_count + ambition_word_count + learning_experience_word_count + projects_word_count + rationale_word_count;
  document.getElementById('word-count').innerHTML = total_words;
</script>